body {
	background-color: #CCFFCC;
}

/*style tabs layer*/
#tabs {
	position: relative;
	width: 890px;
	height: 850px;
}

/*style section; this is the whole section area (including negative h2)*/
/*section really starts below h2, and we define h2 negative*/
#tabs section {
	position: absolute;
	display: block;
	/*top distance to the base tabs layer*/
	top: 30px;
	left: 10px;
	right: 15px;
	bottom: 5px;
	padding: 10px 20px;
	border-radius: 10px;
	border: 1px solid #e6e6e6;
	z-index: 0;
}

#tabs section h2 {
	position: absolute;
	font-size: 1em;
	font-weight: normal;
	width: 120px;
	height: 30px;
	/*this made h2 looks like a section label; we also defined its width to make it narrower*/
	top: -30px;
	left: 8px;
	padding: 0;
	margin: 0;
	color: #999;
	background-color: #ddd;
	border-radius: 10px 10px 0 0;
}

#tabs>section:first-child h2 {
	z-index: 1;
}

/*style section which is the first child of the parent*/
#tabs section:first-child {
	/*The z-index property specifies the stack order of an element.
An element with greater stack order is always in front of an element with a lower stack order.
Note: z-index only works on positioned elements (position:absolute, position:relative, or position:fixed).*/
	z-index: 1;
	background-color: #66CCFF;
}

/*position the 2nd section child*/
#tabs section:nth-child(2) h2 {
	left: 132px;
}

/*position the 3nd section child*/
#tabs section:nth-child(3) h2 {
	left: 254px;
}

/*style hyper link a*/
#tabs section h2 a {
	display: block;
	width: 100%;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	color: inherit;
}

/*target is the element being linked to*/
#tabs section:target, #tabs section:target h2 {
	color: #333;
	background-color: #66CCFF;
	z-index: 2;
}

#tabs section, #tabs section h2 {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

/* button.light-btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #dbdbdb;
  padding: 20px 100px 20px 50px;
  text-decoration: none;
  width: 220px;
  margin: 20px
}

button.light-btn img{
    width: 90px;
    height: 90px;
    padding: 20px 100px 20px 10px;
}​

button.light-btn.on {
  background: red;
}
 */
button.light-toggler {
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	background: #dbdbdb;
	padding: 20px 100px 20px 50px;
	text-decoration: none;
	width: 220px;
	height: 220px;
	margin: 20px
}

button.light-toggler.on {
	background: red;
}

button.scene {
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 12px;
	background: #dbdbdb;
	padding: 20px 100px 20px 50px;
	text-decoration: none;
	width: 220px;
	height: 150px;
	margin: 20px
}